<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
    <title>All tiles arranged</title>
</head>
<body>
    <div layout:fragment="content">
    <div style="padding-left:50px;padding-right:50px">
    <table cellspacing="0" cellpadding="0" class="first_div">
		<tr class="first_div">
		<td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
		   	<img class="back" th:src="@{/images/back.png}"></img>
		</td>
		</tr>
	</table>
	</div>
	
	<div>
	<table class="second_div">
	<tr>
	<td>
    <table cellspacing="0" cellpadding="0">
		<tr class="rotate90deg" th:each="i , iStat: ${#numbers.sequence(0, 16)}">
		<td>
		   	<img class="back" th:src="@{/images/back90deg.png}"></img>
		</td>
		</tr>
	</table>
	</td>
	<td align="right">
    <table cellspacing="0" cellpadding="0">
		<tr class="rotate90deg" th:each="i , iStat: ${#numbers.sequence(0, 16)}">
		<td>
		   	<img class="back" th:src="@{/images/back90deg.png}"></img>
		</td>
		</tr>
	</table>
	</td>
	</tr>
	</table>
	</div>
	
    <div style="padding-left:50px;padding-right:50px">
    <table cellspacing="0" cellpadding="0">
		<tr>
		<td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
		   	<img class="back" th:src="@{/images/back.png}"></img>
		</td>
		</tr>
	</table>
	</div>	
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
  $(".second_div").css({
    'width': (($(".first_div").width() + 100) + 'px')
  });
});
/*]]>*/
</script>
	</div>
</body>
</html>