<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
    <title>All tiles arranged</title>
</head>
<body class="unselectable">
    <div layout:fragment="content">
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back left" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back left2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back top" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back top2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back right" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back right2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
        
    <table cellspacing="0" cellpadding="0">
		<tr>
		<td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
		   	<img class="back bottom" th:src="@{/images/back.png}"></img>
		</td>
		</tr>
	</table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back bottom2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
	
	<figure>
    <audio style="width:0px;height:0px"
        controls
        th:src="@{/sounds/dice.mp3}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
    </figure>   
<script th:inline="javascript">
/*<![CDATA[*/
function angle(cx, cy, ex, ey) {
  var dy = ey - cy;
  var dx = ex - cx;
  var theta = Math.atan2(dy, dx); // range (-PI, PI]
  theta *= 180 / Math.PI; // rads to degs, range (-180, 180]
  //if (theta < 0) theta = 360 + theta; // range [0, 360)
  return theta;
}
$(document).ready(function() {
	var height = $(window).height();
	var width = $(window).width();
	var size = Math.min(height, width);
	var ratio = $("img")[0].height / $("img")[0].width;
	var tileWidth = ((size - 2 * (size / 17 * ratio)) / 17) | 0;
	var tileHeight = (tileWidth / ratio) | 0;
	$("img.bottom").css({"width": tileWidth + 'px'});
	//158, 606
	//558, 434
	arrage(size, 158.0, 606.0, 558.0, 434.0, "img.bottom");
	arrage(size, 158.0, 606.0, 558.0, 434.0, "img.bottom2");
	//610, 485
	//430, 100
	arrage(size, 610.0, 485.0, 430.0, 100.0, "img.right");
	arrage(size, 610.0, 485.0, 430.0, 100.0, "img.right2");
	//490, 50
	//100, 230
	arrage(size, 490.0, 50.0, 100.0, 230.0, "img.top");
	arrage(size, 490.0, 50.0, 100.0, 230.0, "img.top2");
	//50, 170
	//230, 560
    arrage(size, 50.0, 170.0, 230.0, 560.0, "img.left");
    arrage(size, 50.0, 170.0, 230.0, 560.0, "img.left2");

    //size = size - 2 * (size / 17 * ratio);
    size = size * 2;
    $("#dice1").css({"position":"absolute", "left": (size/2)+'px', "top": (size/2)+'px', "zoom": 0.5});
    $("#dice2").css({"position":"absolute", "left": (size/2 + 90)+'px', "top": (size/2)+'px', "zoom": 0.5});

    var dice1 = $("#dice1");
    dice1.click(diceFunc);
    var dice2 = $("#dice2");
    dice2.click(diceFunc);
    var show = /*[[${show}]]*/ 'false';
    if(show){
    	var images = /*[[${T(jp.btsol.mahjong.web.tile.TileImage).images()}]]*/ [];
    	var tiles = /*[[${tiles}]]*/ [];
    	var count = /*[[${T(jp.btsol.mahjong.web.tile.TileImage).values().length}]]*/ 34;
    	jQuery.each( tiles, function( i, val ) {
    		$($("img")[i]).attr("src", '/images/' + images[val % count]);
    	})
    	$("img.left2").css({"transform": "translateX(-30px)"})
    	$("img.top2").css({"transform": "translateY(-30px)"})
    	$("img.right2").css({"transform": "translateX(30px)"})
    	$("img.bottom2").css({"transform": "translateY(30px)"})
    }
});
function pick(direction, column, upperlower, count, todirection){
    const padding = 30;
    var height = $(window).height();
    var width = $(window).width();
    var size = Math.min(height, width);
    var ratio = $("img")[0].height / $("img")[0].width;
    var tileWidth = ((size - 2 * (size / 17 * ratio)) / 17) | 0;
    var tileHeight = (tileWidth / ratio) | 0;
    
    if(count == 1){
        var index = tileIndex(direction, column, upperlower)
        $($("img")[index]).css({"transition": "transform 1s", "left": "100px", "top": (size - padding - tileHeight) + 'px'})
    }
}
function tileImage(direction, column, upperlower){
    var index = tileIndex(direction, column, upperlower)
    var tiles = /*[[${tiles}]]*/ [];
    var images = /*[[${T(jp.btsol.mahjong.web.tile.TileImage).images()}]]*/ [];
    var count = /*[[${T(jp.btsol.mahjong.web.tile.TileImage).values().length}]]*/ 34;
    return images[tiles[index] % count];
}
function tileIndex(direction, column, upperlower){
	//var tiles = /*[[${tiles}]]*/ [];
	//var images = /*[[${T(jp.btsol.mahjong.web.tile.TileImage).images()}]]*/ [];
	var count = /*[[${T(jp.btsol.mahjong.web.tile.TileImage).values().length}]]*/ 34;

    var index = 0;
    if(upperlower == "lower"){
        index = count / 2 - column;
    } else {
        index = count / 2 + count / 2 - column;
    }
	if(direction == "west"){
	} else if(direction == "north"){
        index += count;
    } else if(direction == "east"){
        index += count * 2;
    } else if(direction == "south"){
        index += count * 3;
    }
	
	//return images[tiles[index] % count];
	return index;
}
function arrage(size, tsX, tsY, teX, teY, side){
	const padding = 30;
    const tableSize = 660.0;
    var startX = (size - padding * 2) * (tsX / tableSize)
    var startY = (size - padding * 2) * (tsY / tableSize)
    var endX = (size - padding * 2) * (teX / tableSize)
    var endY = (size - padding * 2) * (teY / tableSize)
    var deg = angle(startX, startY, endX, endY)
    var length = Math.hypot(endX-startX, endY-startY)
    var offsetX = 0
    var offsetY = 0
    if(side.indexOf("2") >= 0){
    	offsetX = 4;
    	offsetY = 2;
    }
    $(side).each(function(i, tile){
        var x = startX + i * (endX - startX) / 17.0 + padding;
        var y = startY + i * (endY - startY) / 17.0 + padding;
        $(tile).css({"position": "absolute", 
            "left": x + offsetX, 
            "top": y + offsetY, 
            '-webkit-transform':'rotate('+deg+'deg)', 
            '-moz-transform':'rotate('+deg+'deg)',
            'transform':'rotate('+deg+'deg)',
            'width': (length / 17)+'px'});
    });
}
/*]]>*/
</script>
<div class="wrap1">
<div id="dice1" class="dice dice_1"></div>
</div>
<div class="wrap2">
<div id="dice2" class="dice dice_1"></div>
</div>
	</div>
</body>
</html>