<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
    <title>All tiles arranged</title>
</head>
<body class="unselectable">
    <div layout:fragment="content">
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back left" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back left2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back top" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back top2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back right" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back right2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
        
    <table cellspacing="0" cellpadding="0">
		<tr>
		<td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
		   	<img class="back bottom" th:src="@{/images/back.png}"></img>
		</td>
		</tr>
	</table>
    <table cellspacing="0" cellpadding="0">
        <tr>
        <td th:each="i , iStat: ${#numbers.sequence(0, 16)}">
            <img class="back bottom2" th:src="@{/images/back.png}"></img>
        </td>
        </tr>
    </table>
	
	<figure>
    <audio style="width:0px;height:0px"
        controls
        th:src="@{/sounds/dice.mp3}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
    </figure>   
<script th:inline="javascript">
/*<![CDATA[*/
function angle(cx, cy, ex, ey) {
  var dy = ey - cy;
  var dx = ex - cx;
  var theta = Math.atan2(dy, dx); // range (-PI, PI]
  theta *= 180 / Math.PI; // rads to degs, range (-180, 180]
  //if (theta < 0) theta = 360 + theta; // range [0, 360)
  return theta;
}
$(document).ready(function() {
	var height = $(window).height();
	var width = $(window).width();
	var size = Math.min(height, width);
	var ratio = $("img")[0].height / $("img")[0].width;
	var tileWidth = ((size - 2 * (size / 17 * ratio)) / 17) | 0;
	$("img.bottom").css({"width": tileWidth + 'px'});
	//158, 606
	//558, 434
	arrage(size, 158.0, 606.0, 558.0, 434.0, "img.bottom");
	arrage(size, 158.0, 606.0, 558.0, 434.0, "img.bottom2");
	//610, 485
	//430, 100
	arrage(size, 610.0, 485.0, 430.0, 100.0, "img.right");
	arrage(size, 610.0, 485.0, 430.0, 100.0, "img.right2");
	//490, 50
	//100, 230
	arrage(size, 490.0, 50.0, 100.0, 230.0, "img.top");
	arrage(size, 490.0, 50.0, 100.0, 230.0, "img.top2");
	//50, 170
	//230, 560
    arrage(size, 50.0, 170.0, 230.0, 560.0, "img.left");
    arrage(size, 50.0, 170.0, 230.0, 560.0, "img.left2");

    //size = size - 2 * (size / 17 * ratio);
    size = size * 2;
    $("#dice1").css({"position":"absolute", "left": (size/2)+'px', "top": (size/2)+'px', "zoom": 0.5});
    $("#dice2").css({"position":"absolute", "left": (size/2 + 90)+'px', "top": (size/2)+'px', "zoom": 0.5});

    var diceFunc = function(){
        $("audio")[0].play();
        jQuery.each([$("#dice1"), $("#dice2")], function(index, dice){
            var left = parseInt($(dice).css("left").replace("px", ""));
            var top = parseInt($(dice).css("top").replace("px", ""));
            $(".wrap1").append("<div id='dice_mask'></div>");//add mask
            dice.attr("class","dice");//After clearing the last points animation
            dice.css('cursor','default');
            var num = Math.floor(Math.random()*6+1);//random num 1-6
            
            dice.animate({left: (left+2)+'px'}, 100,function(){
                dice.addClass("dice_t");
            }).delay(200).animate({top:(top-2)+'px'},100,function(){
                dice.removeClass("dice_t").addClass("dice_s");
            }).delay(200).animate({opacity: 'show'},600,function(){
                dice.removeClass("dice_s").addClass("dice_e");
            }).delay(100).animate({left:(left)+'px',top:(top)+'px'},100,function(){
                dice.removeClass("dice_e").addClass("dice_"+num);
                dice.css('cursor','pointer');
                $("#dice_mask").remove();//remove mask
                $("audio")[0].pause();
                $("audio")[0].currentTime = 0;
            });
        });
    };
    var dice1 = $("#dice1");
    dice1.click(diceFunc);
    var dice2 = $("#dice2");
    dice2.click(diceFunc);
    /*
    $($("img.bottom2")[3]).css({"display": "none"})
    $($("img.bottom")[3]).css({"display": "none"})
    $($("img.bottom2")[4]).css({"display": "none"})
    $($("img.bottom")[4]).css({"display": "none"})
    $($("img.bottom2")[5]).css({"display": "none"})
    */
    var show = /*[[${show}]]*/ 'false';
    if(show){
    	
    }
});
function arrage(size, tsX, tsY, teX, teY, side){
    const tableSize = 660.0;
    var startX = size * (tsX / tableSize)
    var startY = size * (tsY / tableSize)
    var endX = size * (teX / tableSize)
    var endY = size * (teY / tableSize)
    var deg = angle(startX, startY, endX, endY)
    var length = Math.hypot(endX-startX, endY-startY)
    var offsetX = 0
    var offsetY = 0
    if(side.indexOf("2") >= 0){
    	offsetX = 4;
    	offsetY = 2;
    }
    $(side).each(function(i, tile){
        var x = startX + i * (endX - startX) / 17.0;
        var y = startY + i * (endY - startY) / 17.0;
        $(tile).css({"position": "absolute", 
            "left": x + offsetX, 
            "top": y + offsetY, 
            '-webkit-transform':'rotate('+deg+'deg)', 
            '-moz-transform':'rotate('+deg+'deg)',
            'transform':'rotate('+deg+'deg)',
            'width': (length / 17)+'px'});
    });
}
/*]]>*/
</script>
<div class="wrap1">
<div id="dice1" class="dice dice_1"></div>
</div>
<div class="wrap2">
<div id="dice2" class="dice dice_1"></div>
</div>
	</div>
</body>
</html>