<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Create new room</title>
</head>
<body>
<h1>Create new room</h1>
<div layout:fragment="content">

<form th:action="@{/createRoom}" method="post" th:object="${roomForm}">
<table>
<tr>
<td>
    Room name:
</td>
<td>
    <input type="text" th:field="*{roomName}" maxlength=20><span class="hint-required">*up to 20 chars</span>
</td>
</tr>
</table>
<button>Create</button>
</form>
      <a href="/players">Players</a>
      <a href="/rooms">Rooms</a>
</div>
</body>
</html>