<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Rooms</title>
</head>
<body>
<h1>Rooms</h1>
<div layout:fragment="content">
<table style="width:100%">
<tr th:each="room, roomStat: ${rooms}">
<td>
   	<a th:href="${'/room/'+room.roomId}" th:text="${room.roomId}">
   	</a>
</td>
<td>
    <span th:text="${room.roomName}">
    </span>
</td>
<td>
    <form th:if="${entered && room.entered}" style="display: inline" id="formExitRoom" method="post" th:action="@{/exitRoom}">
    <input type="hidden" name="roomId" th:value="*{room.roomId}"/>
    <button class="button-right">Exit</button>
    </form>
    <form th:if="${!entered && !room.entered}" style="display: inline" id="formEnterRoom" method="post" th:action="@{/enterRoom}">
    <input type="hidden" name="roomId" th:value="*{room.roomId}"/>
    <button class="button-right">Enter</button>
    </form>
</td>
</tr>
</table>
      <a href="/players">Players</a><br/>
      <a href="/createRoom">Create room</a>
</div>
</body>
</html>