<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Room</title>
</head>
<body>
<h1>Room</h1>
<div layout:fragment="content">
<h3>Players in room: <span th:text="${room.roomName}">
    </span></h3>
    <span th:if="${players.size()==0}">None</span>
<table style="width:100%">
<tr th:each="player, playerStat: ${players}">
<td>
    <span th:text="${player.playerId}">
    </span>
</td>
<td>
    <span th:text="${player.nickname}">
    </span>
</td>
<td align="right">
    <form th:if="${#authentication.principal.playerId==player.playerId}" style="display: inline" id="formExitRoom" method="post" th:action="@{/exitRoom}">
    <input type="hidden" name="roomId" th:value="*{room.roomId}"/>
    <button class="button-right">Exit room</button>
    </form>
</td>
</tr>
</table>
    <form th:unless="${room.entered}" style="display: inline" id="formEnterRoom" method="post" th:action="@{/enterRoom}">
    <input type="hidden" name="roomId" th:value="*{room.roomId}"/>
    <button class="button-left">Enter</button>
    </form>

<button th:if="${players.size>=4 && room.entered}">Begin a game</button><br/>
      <a href="/players">Players</a><br/>
      <a href="/rooms">Rooms</a>
</div>
</body>
</html>