<!DOCTYPE html>
<html lang="ja"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<header id="banner" role="banner" layout:fragment="header">
    <div id="heading" class="navbar">
        <div class="navbar-inner">
            <!-- .container -->
            <div class="container">
                
            </div>
            <!-- /.container -->
        </div>
    </div>
    <div style="clear: both;"></div>
</header>
</body>
</html>
