<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mahjong Error Page</title>
</head>
<body>
  <div th:text="'Error: ' + ${error}"></div>
  <div th:text="'timestamp: ' + ${timestamp}"></div>
  <div th:text="'status: ' + ${status}"></div>
  <div th:text="'path: ' + ${path}"></div>
  
  <div th:if="${errors}" class="error-message-list width-100">
    <div th:each="error,sts: ${errors}">
    <span th:text="${error.field}"></span>:
    <span th:text="${error.defaultMessage}"></span>
    </div>
  </div>
</body>
</html>