<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mahjong</title>
</head>
<body>
<h1>Hello Mahjong</h1>
<h4 th:text="${message}"></h4>
<table>
<tr>
<td:block th:each="mentsu , mentsuStat: ${hands.handsComp}">
    <span th:if="${mentsu != 0}">
    	<span th:each="i : ${#numbers.sequence(0, mentsu - 1)}">
    	<img th:src="@{${'/images/' + href}}" th:with="href=${T(jp.btsol.mahjong.web.tile.TileImage).valueOf(T(org.mahjong4j.tile.Tile).valueOf(mentsuStat.index)).getImage()}"></img>
    	</span>
    </span>
</td:block>
</tr>
</table>

</body>
</html>