<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Rooms</title>
</head>
<body>
<h1>Rooms</h1>
<div layout:fragment="content">
<table style="width:100%">
<tr>
<td>
   	<span th:text="${room.roomId}">
   	</span>
</td>
<td>
    <span th:text="${room.roomName}">
    </span>
</td>
</tr>
</table>
      <a href="/players">Players</a>
</div>
</body>
</html>