<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Rooms</title>
</head>
<body>
<h1>Rooms</h1>
<div layout:fragment="content">
<table style="width:100%">
<tr th:each="room, roomStat: ${rooms}">
<td>
   	<span th:text="${room.roomId}">
   	</span>
</td>
<td>
    <span th:text="${room.roomName}">
    </span>
</td>
<td>
    <form style="display: inline" id="formEnterRoom" method="post" th:action="@{/enterRoom}">
    <input type="hidden" name="roomId" th:value="*{room.roomId}"/>
    <button class="button-right">Enter</button>
    </form>
</td>
</tr>
</table>
      <a href="/players">Players</a>
</div>
</body>
</html>