.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
tr.rotate90deg
{
  line-height: 8px;
}
tr.first_div
{
  line-height: 8px;
}
img {
    transition: transform 1s; 
}

.dice_1 {
    background-position: -5px -4px;
}
.dice {
    width: 90px;
    height: 90px;
    background: url(../images/dice.png) no-repeat;
    cursor: pointer;
}
