.error-message-list {
    color: #b94a48;
    padding:5px 10px;
    background-color: #fde9f3;
    border:1px solid #c98186;
    border-radius:5px;
    margin-bottom: 10px;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
tr.rotate90deg
{
  line-height: 8px;
}
tr.first_div
{
  line-height: 8px;
}
img {
    transition: transform 1s; 
}
.wrap{width:90px; height:90px; margin:120px auto 30px auto; position:absolute; display: inline;}
.dice{width:90px; height:90px; background:url(../images/dice.png) no-repeat; cursor:pointer;}
.dice_1{background-position:-5px -4px}
.dice_2{background-position:-5px -107px}
.dice_3{background-position:-5px -212px}
.dice_4{background-position:-5px -317px}
.dice_5{background-position:-5px -427px}
.dice_6{background-position:-5px -535px}
.dice_t{background-position:-5px -651px}
.dice_s{background-position:-5px -763px}
.dice_e{background-position:-5px -876px}
#dice_mask{width:90px; height:90px; background:#fff; opacity:0; position:absolute; top:0; left:0; z-index:999}
.wrap1{left:300px;top:300px}
.wrap2{left:400px;top:300px}
span.hint-required{
	color:red
}
.button-right{
	float: right;
}

.button-badge {
  background-color: red;
  border: none;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  position: relative;
  top: -10px;
}
.button-round {
	border-radius: 50%;
}