<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Game</title>
</head>
<body>
	<h1>Game</h1>
	<div layout:fragment="content">
		<div>
			<div class="wrap wrap1">
				<div id="dice1" class="dice dice_1"></div>
			</div>
			<div class="wrap wrap2">
				<div id="dice2" class="dice dice_1"></div>
			</div>
			<table>
				<tr>
					<td rowspan="5">
						<div id="left"
							th:style="'width:96px;height:48px;transform:rotate(-90deg);cursor:pointer;background-image:url(' + @{/images/chair_left.png} + ');background-repeat: no-repeat;background-position:center;background-blend-mode: lighten;background-color: rgba(255,255,255,0.6);'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;West&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</td>
					<td></td>
					<td id="upper" height="100px" align="center"
						th:style="'cursor:pointer;background-image:url(' + @{/images/chair_upper.png} + ');background-repeat: no-repeat;background-position: center;background-blend-mode: lighten;background-color: rgba(255,255,255,0.6);'">
						North</td>
					<td></td>
					<td rowspan="5">
						<div id="right"
							th:style="'width:96px;height:48px;transform:rotate(-90deg);cursor:pointer;background-image:url(' + @{/images/chair_right.png} + ');background-repeat: no-repeat;background-position:center;background-blend-mode: lighten;background-color: rgba(255,255,255,0.6);'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;East&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div>
							<table cellspacing="0" cellpadding="0" class="first_div">
								<tr class="first_div">
									<td th:each="i , iStat: ${#numbers.sequence(0, 16)}"><img
										class="back portrait" th:src="@{/images/back.png}"></img></td>
								</tr>
							</table>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div>
							<table class="second_div">
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0">
											<tr class="rotate90deg"
												th:each="i , iStat: ${#numbers.sequence(0, 16)}">
												<td><img class="back landscape"
													th:src="@{/images/back90deg.png}"></img></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</td>
					<td></td>
					<td>
						<div>
							<table class="second_div">
								<tr>
									<td align="right">
										<table cellspacing="0" cellpadding="0">
											<tr class="rotate90deg"
												th:each="i , iStat: ${#numbers.sequence(0, 16)}">
												<td><img class="back landscape"
													th:src="@{/images/back90deg.png}"></img></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>

					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div>
							<table cellspacing="0" cellpadding="0">
								<tr>
									<td th:each="i , iStat: ${#numbers.sequence(0, 16)}"><img
										class="back portrait" th:src="@{/images/back.png}"></img></td>
								</tr>
							</table>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td id="lower" height="96px" align="center"
						th:style="'cursor:pointer;background-image:url(' + @{/images/chair_lower.png} + ');background-repeat: no-repeat;background-position: center;background-blend-mode: lighten;background-color: rgba(255,255,255,0.6);'">
						South</td>
					<td></td>
				</tr>
			</table>

			<figure>
				<audio style="width: 0px; height: 0px" controls
					th:src="@{/sounds/dice.mp3}">
					Your browser does not support the
					<code>audio</code>
					element.
				</audio>
			</figure>
		</div>
		<script th:inline="javascript">
/*<![CDATA[*/
$(window).on('load', function(){
    var height = $(window).height();
    var width = $(window).width();
    var size = Math.min(height, width);
    var ratio = $("img.portrait")[0].height / $("img.portrait")[0].width;
    var tileWidth = ((size - 2 * (size / 17 * ratio)) / 17) | 0;
    $("img.portrait").css({"width": tileWidth + 'px'});
    var tileHeight = $("img.portrait")[0].height;
    $("img.landscape").css({"width": tileHeight + 'px'});
    
    function diceDealer(){
        stompClient.send("/app/diceDealer", {}, 
                 JSON.stringify({'@class': 'jp.btsol.mahjong.model.MahjongGameMessage', 
                 'action': 'dice dealer',
                 'playerId': [[${#authentication.principal.playerId}]],
                 'nickname': [[${#authentication.principal.nickname}]], 
                 'message': [[${#authentication.principal.nickname}]] + ' dice dealder',
                 'gameId': [[${game.gameId}]],
                 'roomId': [[${game.roomId}]]
                  }));
    }   
    function rediceDealer(){
        stompClient.send("/app/rediceDealer", {}, 
                 JSON.stringify({'@class': 'jp.btsol.mahjong.model.MahjongGameMessage', 
                 'action': 'redice dealer',
                 'playerId': [[${#authentication.principal.playerId}]],
                 'nickname': [[${#authentication.principal.nickname}]], 
                 'message': [[${#authentication.principal.nickname}]] + ' redice dealder',
                 'gameId': [[${game.gameId}]],
                 'roomId': [[${game.roomId}]]
                  }));
    }   
    
    function enableDice(){
        var dice1 = $("#dice1");
        dice1.on('click', function(){
            diceFunc();
            diceDealer();
        });
        var dice2 = $("#dice2");
        dice2.on('click', function(){
            diceFunc();
            diceDealer();
        });
    }

    enableDice();

    function enableRedice(){
        var dice1 = $("#dice1");
        dice1.on('click', function(){
            diceFunc();
            rediceDealer();
        });
        var dice2 = $("#dice2");
        dice2.on('click', function(){
            diceFunc();
            rediceDealer();
        });
    }
    showGameNotice([[${game.roomModel.playersInRoom}]]);
    //get my direction
    var myDirection = [[${game.roomModel.playersInRoom}]]
       .filter(player => player.playerId == [[${#authentication.principal.playerId}]])
       .map(player => player.direction)
       [0];
    showGameStatus([[${game.roomModel.playersInRoom}]]);    

    switch(myDirection){
    case "north":
    	console.log("my seat " + myDirection);
    	$('#upper').text('South');
    	$('#lower').text('North');
    	$('#left').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;East&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
    	$('#right').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;West&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
    	break;
    case "west":
        console.log("my seat " + myDirection);
        $('#upper').text('East');
        $('#lower').text('West');
        $('#left').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;North&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
        $('#right').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
    	break;
    case "south":
        console.log("my seat " + myDirection);
        $('#upper').text('North');
        $('#lower').text('South');
        $('#left').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;West&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
        $('#right').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;East&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
    	break;
    case "east":
        console.log("my seat " + myDirection);
        $('#upper').text('West');
        $('#lower').text('East');
        $('#left').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
        $('#right').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;North&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
    	break;
    };

    function disableDice(){
        var dice1 = $("#dice1");
        dice1.unbind();
        dice1.css("cursor", "default");
        var dice2 = $("#dice2");
        dice2.unbind();
        dice2.css("cursor", "default");
    }

    function showGameStatus(players){
        if(players.length == 4){
            console.log("4 players entered.");
            var sittedCount = players
                .filter(player => player.direction != null).length;
            console.log(sittedCount + " players sitted.");
            if(sittedCount == 4){
                disableSeatEvent();
                 var rolledCount = players
                 .filter(player => player.log.includes('rolled')
                         || player.log.includes('wait redice')
                         || player.log.includes('to redice')).length;
                 console.log(rolledCount + " players rolled.");
                 if(rolledCount == 4){
                     var max = players.filter(player => player.log.includes('rolled'))
                     .map(player => parseInt(player.log.split(/ /).pop()))
                     .reduce(function(a, b) {
                        return Math.max(a, b);
                     }, -Infinity);
                     console.log("max is " + max);
                     if(max === -Infinity){
                         var msg = players.filter(player => player.playerId == [[${#authentication.principal.playerId}]])
                         .map(player => player.log)[0];
                         showGameMessage(msg);
                         if(msg.includes('to redice')){
                             enableRedice();
                         } else {
                             //disable dice function
                             disableDice();
                         }
                     } else {
                         var maxCount = players
                         .filter(player => player.log.includes('rolled ' + max)
                                 || player.log.includes('wait redice')
                                 || player.log.includes('to redice')).length;
                         console.log(maxCount + " played rolled same max " + max);
                         var isMax = players
                         .filter(player => (player.log.includes('rolled ' + max) 
                                 || player.log.includes('to redice'))
                                 && player.playerId == [[${#authentication.principal.playerId}]])
                                 .length == 1;
                         
                         if(maxCount > 1){
                             if(!isMax){
                                 var maxNicknames = players
                                 .filter(player => player.log.includes('rolled ' + max))
                                 .map(player=>player.nickname);
                                 var msg = "Waiting " + maxNicknames + " to roll again.";
                                 showGameMessage(msg);
                                 $('#demoModalTitle').text(msg);
                                 $('#demoNormalModal').modal('show');
                                 $('div.modal-body').html('');
                                 players.forEach(player=>{
                                     $('div.modal-body').append("<div>" + player.log + "</div>");
                                }); 
                             } else {
                                 var toRedice = players.filter(player => player.log.includes("to redice")
                                         && player.playerId != [[${#authentication.principal.playerId}]])
                                         .length == 1;
                                 if(!toRedice){
                                     var maxNicknames = players
                                     .filter(player => player.log.includes('rolled ' + max)
                                             && player.playerId != [[${#authentication.principal.playerId}]])
                                     .map(player=>player.nickname);
                                     
                                     var msg = maxNicknames + " rolled same number " + max + ". Dice again.";
                                     $('#demoModalTitle').text(msg);
                                     $('#demoNormalModal').modal('show');
                                     $('div.modal-body').html('');
                                     players.forEach(player=>{
                                         $('div.modal-body').append("<div>" + player.log + "</div>");
                                     });
                                 }
                             }
        
                            $('button.btn-primary').on('click', function(){
                                $('#demoNormalModal').modal('hide');
                                console.log("isMax: " + isMax);
                                if(!isMax){
                                    stompClient.send("/app/ready2rediceWaiting", {}, 
                                            JSON.stringify({'@class': 'jp.btsol.mahjong.model.MahjongGameMessage', 
                                            'action': 'rediceWaiting',
                                            'playerId': [[${#authentication.principal.playerId}]],
                                            'nickname': [[${#authentication.principal.nickname}]], 
                                            'message': [[${#authentication.principal.nickname}]] + ' to wait redice.',
                                            'gameId': [[${game.gameId}]],
                                            'roomId': [[${game.roomId}]]
                                             }));
                                } else {
                                    stompClient.send("/app/ready2redice", {}, 
                                            JSON.stringify({'@class': 'jp.btsol.mahjong.model.MahjongGameMessage', 
                                            'action': 'redice',
                                            'playerId': [[${#authentication.principal.playerId}]],
                                            'nickname': [[${#authentication.principal.nickname}]], 
                                            'message': [[${#authentication.principal.nickname}]] + ' to redice.',
                                            'gameId': [[${game.gameId}]],
                                            'roomId': [[${game.roomId}]]
                                             }));
                                }
                            });
                         }
                     }
                 } else {
                     var isRolled = players
                        .filter(player => player.playerId == [[${#authentication.principal.playerId}]]
                          && player.log.includes('rolled')).length == 1;
                     if(isRolled){
                         showGameMessage("Waiting others to roll.");
                     } else {
                         showGameMessage("Ready to roll dice.");
                     }
                 }
            } else {
                var isSitted = players
                    .filter(player => player.playerId == [[${#authentication.principal.playerId}]]
                      && player.direction != null).length == 1;
                if(isSitted){
                    showGameMessage("Waiting others to sit.");
                    disableSeatEvent();
                } else {
                    showGameMessage("Grab a seat.");
                }
            }
        }
        else {
            console.log(players.length + " players entered, waiting...");
            showGameMessage("Waiting or inviting other players.");
        }
    };
    function disableSeatEvent(){
        //disable seat event
        $('#right').unbind();
        $('#right').css("cursor", "default");
        $('#upper').unbind();
        $('#upper').css("cursor", "default");
        $('#left').unbind();
        $('#left').css("cursor", "default");
        $('#lower').unbind();
        $('#lower').css("cursor", "default");
    }
    $('#right').on('click', function(){
        grabSeat('east');
    });
    function grabSeat(seat){
           stompClient.send("/app/grab", {}, 
                    JSON.stringify({'@class': 'jp.btsol.mahjong.model.MahjongGameMessage', 
                    'action': 'grab seat ' + seat,
                    'playerId': [[${#authentication.principal.playerId}]],
                    'nickname': [[${#authentication.principal.nickname}]], 
                    'message': [[${#authentication.principal.nickname}]] + ' sits ' + seat,
                    'gameId': [[${game.gameId}]],
                    'roomId': [[${game.roomId}]]
                     }));
    }
    $('#upper').on('click', function(){
        grabSeat('north');
    });
    $('#left').on('click', function(){
        grabSeat('west');
    });
    $('#lower').on('click', function(){
        grabSeat('south');
    });

    $("#grab-seat").on('click', function(){
        console.log("grab-seat is clicked.");
        stompClient.send("/app/grab/ready", {}, 
            JSON.stringify({'@class': 'jp.btsol.mahjong.model.MahjongGameMessage', 
            'action': 'ready for grabing a seat',
            'playerId': [[${#authentication.principal.playerId}]],
            'nickname': [[${#authentication.principal.nickname}]], 
            'message': [[${#authentication.principal.nickname}]] + ' is ' + 'ready for grabing a seat',
            'gameId': [[${game.gameId}]],
            'roomId': [[${game.roomId}]]
             }));
    });
    function showGameMessage(message) {
        //if($("#messages").text().indexOf(message) == -1){//no message appended yet
        //    $("#messages").append("<div>" + message + "</div>");
        //}
        $("#messages").html("");
        $("#messages").append("<div>" + message + "</div>");
        if("ready for grabing seat" == message){
            $("#grab-seat").hide();
        }
    }
    function showGameNotice(players) {
        $("#notices").html("");
        players.forEach(player=>{
            $("#notices").append("<div>" + player.log + "</div>");
        });
    }
    function onConnectStatusChanged(status){
        $("#grab-seat").prop("disabled", !status);
    }
});

/*]]>*/
</script>

<!-- モーダルダイアログ -->
<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demoModalTitle">タイトル</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                内容・・・
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

    </div>
</body>
</html>