<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Players</title>
</head>
<body>
<h1>Players</h1>
<div layout:fragment="content">
<h4 th:text="${message}"></h4>
<table>
<tr th:each="player, playerStat: ${players}">
<td>
   	<span th:text="${player.playerId}">
   	</span>
</td>
<td>
    <span th:text="${player.nickname}">
    </span>
</td>
</tr>
</table>
</div>
</body>
</html>