<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Players</title>
</head>
<body>
<h1>Players</h1>
<div layout:fragment="content">
<h4 th:text="${message}"></h4>
  <div th:if="${errors}" class="error-message-list width-100">
    <div th:each="error,sts: ${errors}">
    <span th:text="${error.field}"></span>:
    <span th:text="${error.defaultMessage}"></span>
    </div>
  </div>
<form th:action="@{/player/create}" method="post" th:object="${playerForm}">
<table>
<tr>
<td>
   	Player's nickname:
</td>
<td>
    <input type="text" th:field="*{nickname}">
</td>
</tr>
</table>
<button>New</button>
</form>
<a href="/players">Back to players list</a>
</div>
</body>
</html>